* {
    box-sizing: border-box;
    --color-dark: #3d3218;
    --color-1: #866D36;
    --color-2: #b29c64;
    --color-3: #B79951;
    --color-4: #C5AA5F;
    --color-5: #c9ba94;
    --color-6: #e4ddcb;
    --color-7: #fef6e3;
}







/* ----------------------------  تصميم الشاشة الصغيرة والمتوسطة  */

@media (min-width: 768px) and (max-width: 991px) {


    /* -----------------------------لوجو بوكس */
        .logo-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed !important;
            top: 0 !important;
            width: 100%;
            z-index: 10000;
            transition: 0.3s;
        }
    
        .logo-box img {
            margin: 0 0;
            padding-right: 10px;
            max-height: 150px;
            width: 600px;
            z-index: 2;
            flex: 1;
        }
    
        .logo-box .icon {
            color: white;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-left: 20px;
            padding-top: 10px;
            flex: 1;
            text-align: end;
            height: 80px;
            transition: 0.5s;
        }
    
        .logo-box .icon i {
            font-size: 40px;
            color: var(--color-4);
            cursor: pointer;
        }
    
    
    
    
    
    
    
    
    
        /* -----------------------------بار بوكس */
        .bar-box {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            background-color: var(--color-dark);
            position: fixed;
            top: 144px !important;
            height: 0;
            width: 100%;
            overflow: hidden;
            z-index: 99999;
            margin-top: -0px;
        }
    
        .bar-box a {
            font-size: 22px;
            width: 70%;
            border-bottom: 1px solid var(--color-7);
            padding: 0 0 5px;
            margin-bottom: -0;
        }
    
        .bar-box a:first-child {
            margin-top: 40px;
        }
    
        .bar-box a:hover {
            color: var(--color-5);
            font-weight: bold;
        }
    
        .bar-box .social-icone {
            display: block;
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .bar-box .social-icone a {
            border: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;

        }

        .bar-box .social-icone i {
            color: var(--color-4);
            font-size: 40px;
        }
    
        .bar-box .iconX {
            display: block;
            margin-bottom: 100px;
            font-size: 35px;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
    
        .bar-box .iconX a {
            text-decoration: none;
            color: var(--color-dark);
            background-color: var(--color-4);
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            padding: 10px 25px;
            border-radius: 6px;
        }


    .nav-bar .wellcome-page.hide {
        z-index: -1;

    }

    .nav-bar .wellcome-page h1 {
        color: white;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .nav-bar .wellcome-page span {
        color: white;
        text-align: center;
        font-size: 50px;
    }

    .nav-bar .wellcome-page p {
        color: white;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-top: 10px;

    }


    /* --------------------------------------التعريف بالشركة */


.about-us2 .about-boxes {
    flex-direction: row;


}

.about-us2 .box p {
    font-size: 16px;
}

.about-us2 .box1 {
    width: 100%;
}

.about-us2 .box2 {
    width: 100%;
}

.about-us2 .box2 h2 {
    text-align: center;
}
.about-us2 .box2 p {
    text-align: center;
}

.about-us2 .iconBox {
    text-align: center;
}

.about-us2 .iconBox i:first-child {
    margin: 0 0 0 0;
}

.about-us2 .box:hover {
    transform: translateY(0);
}

    /* -----------------------------------------------------خدماتنا القانونية */
    .Services {
        padding: 10px 10px;

    }

    .Services .box-Services h1 {
        font-size: 35px;
        padding: 15px;

    }

    .Services .box-Services .the-box {
        width: 40%;
        padding: 0;
        margin: 0 0 15px 15px;
        box-shadow: -5px 5px 8px var(--color-dark);
    }





    /* --------------------------------------------------------------------------حجز موعد */
    .request-appointment {
        height: 650px;
    }

    .request-appointment .box-appointment .box {
        width: 220px;
    }

    .request-appointment .box-appointment .box .img img {
        width: 220px;
        height: 350px;
    }

    .request-appointment .box-appointment .box .txt {

        border-radius: 40px;
        background-color: var(--color-dark);
        box-shadow: 0px 0px 5px var(--color-dark);
        width: 200px;
        height: 50px;

    }

    .request-appointment .box-appointment .box .txt a {
        color: white;
        text-decoration: none;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 14px;
        width: fit-content;
        margin: 0px 0px;
        display: inline-block;
        text-align: center;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

    }

    .request-appointment .box-appointment .box .txt:hover {
        box-shadow: 0px 0px 10px var(--color-dark);

    }

    .request-appointment .box-appointment .box .txt i {
        color: white;
        background-color: var(--color-2);
        padding: 0 0;
        border-radius: 40px;
        margin-bottom: 50px;
        font-size: 24px;
        width: 60px;
        height: 100%;
        margin: 0;
        display: inline-block;
        text-align: center;
        box-shadow: 0px 0px 5px var(--color-dark);
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    /* ---------------------------------------------------------------فريقنا  */
    .our-team {
        padding-right: 50px;
        height: 870PX;
    }

    .our-team .left-line {
        width: 65px;
    }

    .our-team .box-team {
        right: 15px;
        width: calc(100% - 75px);
        height: 650px;
        align-items: flex-start;
        margin: 0;
    }

    .our-team .box-team .employee-box {
        width: 45%;
        height: 215px;
        margin-bottom: 0px;
    }

    .our-team .last-txt {
        width: calc(100% - 75px);
    }

    .our-team .last-txt h2 {
        font-size: 24px;
    }

    .our-team .last-txt p {
        margin-left: 75px;
        font-size: 14px;
    }

    /* ------------------------------------------------------------------------- النهائية */

    .Footer .card {
        width: 220px;
    }

    .Footer .information img {
        width: 165px;
    }

    .Footer .contact img {
        width: 75px;
    }

    .Footer .contact h4 {
        font-size: 14px;
    }

    .Footer .Location .img2 {
        width: 220px;
    }

    .Footer .Location .img2 img {
        width: 75px;
    }

    .Footer .Location p {
        padding: 5px;
        font-size: 14px;
    }

    .Footer .Location a {
        width: 180px;
    }












}